<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>快乐写影评</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= form_for(@new_post) do |f| %>
        <div class="input-group">
          <%= f.label "电影名" %><br>
          <%= f.text_field :filmid, class: "form-control" %>
        </div>
        <div class="input-group">
          <%= f.label "影评标题" %><br>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="input-group">
          <%= f.label "电影评分" %><br>
          <%= f.number_field :rating, class: "form-control", step: "0.5" %>
        </div>
        <div class="input-group">
          <%= f.label "影评正文" %><br>
          <%= f.text_area :comment, class: "form-control" %>
        </div>
        <div class="input-group submit-button">
      		<%= f.submit "提交影评", class: "form-control" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <ul class="comments">
        <% @all_post.each do |p| %>
          <li class="comment">
            <h2><%= p.title %></h2>
            <p><%= p.comment %></p>
            <p><%= p.rating %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
