<div class="container-fluid write-container">
  <div class="row">
    <div class="col-md-12">
      <%= form_for(@new_post, :html => {:class => 'write-form'}) do |f| %>
        <%= f.hidden_field :filmid, class: "imdb-input" %>
        <div class="movie-info">
        </div>
        <br />
        <div class="input-group">
          <span class="input-group-addon">影评标题</span>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <br />
        <div class="input-group">
          <span class="input-group-addon">电影评分</span>
          <%= f.number_field :rating, class: "form-control", step: "0.5" %>
        </div>
        <br />
        <div class="input-group write-content">
          <%= f.label "影评正文" %><br>
          <%= f.text_area :comment, class: "form-control" %>
        </div>
        <br />
        <div class="input-group">
      		<%= f.submit "提交影评", class: "form-control" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid comments-container">
  <div class="row">
    <div class="col-md-12">
      <ul class="comments">
        <% @all_post.each do |p| %>
          <li class="comment">
            <h2><%= p.title %></h2>
            <p><%= p.comment %></p>
            <p><%= p.rating %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid search-container">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <input type="text" class="form-control search-text-input" placeholder="搜什么电影呢...">
        <span class="input-group-btn">
          <button class="btn btn-default search-button" type="button">搜电影</button>
        </span>
      </div><!-- /input-group -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="search-results-prompt"></p>
    </div>
  </div>
  <div class="row search-results-container">
  </div>
</div>
